.tlist, .blist {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
}

.material-icons {
    color: grey;
    padding: 0 10px;
}

.material-icons.md-24 {
    font-size: 35px;
    padding: -10px 10px;
}

.md-24 {
    position: relative;
    top: -5px;
}

.mic {
    position: relative;
    left: 940px;
    top: 48px;
    z-index: 1;
}

li a {
    color: rgb(78, 78, 78);
    text-decoration: none;
    font-family: "Times New Roman";
    font-size: 10.5pt;
}

li a:hover {
    text-decoration: underline;
}

li {
    float: left;
}

a {
    padding: 8px;
}

img {
    width: 500px; height: 200px;
    position: relative;
    left: 500px;
    top: 100px;
}

.button {
    position: relative;
    left: 610px;
    top: 130px;
    background-color: rgb(235, 235, 235);
    border: none;
    color: rgb(105, 105, 105);
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.button:hover {
    background-color: rgb(236, 236, 236);
    color: rgb(97, 97, 97);
    border-style: solid;
    border-width: 0.2px;
    padding: 10px 25px;
}

.search {
    position: relative;
    left: 515px;
    top: 120px;
    width: 460px;
    height: 30px;
}

footer {
    position: relative;
    bottom: -350px;
    left: -10px;
    background-color: rgb(238, 237, 237);
    padding: 0px 8px 15px 8px;
    width: 1430px;
}